body {
    background-color: whitesmoke;
}

#bigbluebox {
    background-color: #4a5a9e;
    height: 350px;
    width: 850px;
    position: relative;
    margin: auto;
    z-index: 2;
}

#profilepic {
    background-color:#4a5a9e;
    border: 1px solid black;
    height: 150px;
    width: 150px;
    position: relative;
    top: -120px;
    left: -335px;
    margin: auto;
    z-index: 3;
}

#header {
    background-color: white;
    height: 350px;
    width: 850px;
    position: relative;
    top: -400px;
    margin: auto;
    z-index: 1;
}